on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: Test Engines Matrix

jobs:

  setup-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v2
      - id: set-matrix
        run: |
          echo "::set-output name=matrix::$(cat test-matrix.json | jq -c .)"

  engines-matix-tests:
    needs: setup-matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup-matrix.outputs.matrix) }}
    env:
      MONGODB_VERSION: ${{ matrix.mongodb-version }}
    steps:

      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.12.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
          mongodb-replica-set: rs0

      - name: npm ci
        run: npm ci

      - name: set mongodb driver version
        run: npm i mongodb@${{ matrix.mongodb-driver-version }}

      - name: npm run test:simple
        run: npm run test:simple

