on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: Test Engines Matrix

jobs:

  engines-matix-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node-version: [ 24.x, 20.x ]
        mongodb-version: [ 7, 8 ]
        mongodb-driver-version: [ 7.x, 6.x, 4.1 ]
    env:
      MONGODB_VERSION: ${{ matrix.mongodb-version }}
    steps:

      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}.x
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.12.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
          mongodb-replica-set: rs0

      - name: npm ci
        run: npm ci

      - name: set mongodb driver version
        run: npm i mongodb@${{ matrix.mongodb-driver-version }}

      - name: npm run test:simple
        run: npm run test:simple

