on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: Test Engines Matrix

jobs:

  engines-matix-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node-version: [ 24.x, 16.x, 14.x, 12.x ]
        mongodb-version: [ 5, 4.4, 3.6 ]
        mongodb-driver-version: [ 7.x, 6.x, 4.1 ]
        exclude:
          # Exclude mongodb-driver-version 6.x and 7.x from Node.js < 20
          - node-version: 12.x
            mongodb-driver-version: 6.x
          - node-version: 12.x
            mongodb-driver-version: 7.x
          - node-version: 14.x
            mongodb-driver-version: 6.x
          - node-version: 14.x
            mongodb-driver-version: 7.x
          - node-version: 16.x
            mongodb-driver-version: 6.x
          - node-version: 16.x
            mongodb-driver-version: 7.x
    env:
      MONGODB_VERSION: ${{ matrix.mongodb-version }}
    steps:

      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}.x
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
          mongodb-replica-set: rs0

      - name: npm ci
        run: npm ci

      - name: set mongodb driver version
        run: npm i mongodb@${{ matrix.mongodb-driver-version }}

      - name: npm run test:simple
        run: npm run test:simple

