name: Publish release

on:
  push:
    branches:
      - master

env:
  NODE_VERION: 24.x

jobs:
  publish-release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Use Node.js ${{ env.NODE_VERION }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.NODE_VERION }}
        registry-url: https://registry.npmjs.org

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.12.0
      with:
        mongodb-replica-set: rs0

    - name: Install dependencies
      run: npm ci

    - name: Test and Build
      run: |
        npm run test:prod
        npm run build --if-present


    - name: Publish to NPM
      uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.NPM_TOKEN }}

#    - name: Set up registry for GitHub
#      uses: actions/setup-node@v1
#      with:
#        registry-url: https://npm.pkg.github.com/
#
#    - name: Publish to GitHub
#      run: npm publish
#      env:
#        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
